@import '../variables';
@import '../mixins';



.location {
    flex: 1;
    overflow:hidden;
    
    iframe {
        width:100%;
        height: 500px;
    }

}
.locationPoints{
    pointer-events: none;
}
